{% extends "base.html" %}

{% block content %}
<body>
    <main>
        <section id="about">
            <h2>About Us</h2>
            <p>Scoby Dew is a small-batch kombucha microbrewery based in Ypsilanti, Michigan. We specialize in creating unique and flavorful kombucha using locally-sourced ingredients.</p>
        </section>
        <section id="products">
            <h2>Kombucha Flavors</h2>
            <ul>
                <li>Original</li>
                <li>Blueberry Ginger</li>
                <li>Strawberry Basil</li>
            </ul>
        </section>
        <section id="locations">
            <h2>Where to Find Us</h2>
            <ul>
                <li>Farmers Market in [city]</li>
                <li>Local co-op [co-op name]</li>
                <li>Scoby Dew Taproom [address]</li>
            </ul>
        </section>
        <section id="contact">
            <h2>Contact Us</h2>
            <p>Email: info@scobydew.com</p>
            <p>Phone: 555-555-5555</p>
        </section>
    </main>
    <footer>
      <p>Copyright ©2022 Scoby Dew Kombucha Microbrewery</p>
    </footer>
</body>
{% endblock %}